* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto";
    font-weight: 400;
    /* border: 1px solid;     */
    
}

.header-container {
    
    color: #E5E7EB;
    background-color: #1F2937;
    font-size: 18px;
    padding: 20px 0; 
    
}

.header {
    display: flex; 
    justify-content: space-around;
    margin: 20px; 
    
}

.logo {
    font-size: 24px;
    color: #F0FAF8;
    font-weight: bolder;
}

.links {
    display: flex;
    
   
}

.link1, .link2, .link3 {
    padding-left: 50px;
}



.body-section-1 {
    
    /* width: 100%; */
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
      
}

.column1 {
    
    width: 400px;
    padding-left: 50px; 
    
}

.column2 {
    
    justify-content: flex-end;
    margin-right: 20px; 
}

.title {
    font-size: 48px;
    
}

.description {
    color: #E5E7EB;
    font-size: 18px;
    margin-bottom: 10px
}

input {
    background-color: #3882F6;
    color: #F0FAF8;
    font-weight: bold;
    width: 75px;
    height: 30px;
    border-radius: 8px; 
    
}


.body-section-2 {
    background-color: E5E7EB;
    
    
}

.section-title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 36px;
    color: #1F2937;
    margin-bottom: 10px;
    margin-top: 50px;
   
}

.body-section-3 {
    display: flex;
    justify-content: center;
    
}

.tiles {
    display: flex;
    height: 100px;
    gap: 100px;
    
  
}

.tile1, .tile2, .tile3, .tile4{
    display: flex;
    width: 103px;
    border: 2px solid #3882F6;
    border-radius: 8px; 

}

.body-section-4 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 50px;
    
}

.tiledesc {
    display: flex;
    height: 100px;
    gap: 100px;
    
}

.desc1, .desc2, .desc3, .desc4 {
    width: 103px;
}

.body-section-5 {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding-top: 50px;
    padding-bottom: 50px;
}

.quote {
    width:700px;
    font-size: 36px;
    align-self: center;
    font-weight: lighter;
    font-style: italic;
}

.signature{
    align-self: center;
    margin-right: -500px;
    font-weight: bold;
}

.body-section-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    
}

.call-to-action-container {
     display: flex;
     justify-content: center;
     align-content: center;
     margin-top: 50px;
     margin-bottom: 50px;
     height: 150px;
     
     
}


.mainsubtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #3882F6;    
    color: #E5E7EB;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:60px;
    width: 600px;
    border: 2pt solid;
    border-color: #3882F6;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

}

.maintext {
    display: flex;
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bolder;
    

    
}

.subtext {
    display:flex;
    background-color: #3882F6;
    color: #E5E7EB;
   
    
} 

.submitbutton {
    display: flex;
    align-items: center;
    background-color: #3882F6;
    padding-top: 20px;
    padding-right: 60px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    
}

#signup {
     border: 2pt solid;
     border-color: #E5E7EB;
}

.body-section-7 {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.copyright{
    display: flex;
    block-size: fit-content;
    color: #E5E7EB;

}


